*.pyc
capture/calibrate
capture/calibrate_raw
capture/find
capture/capture_raw_frames
capture/build
capture/ping
capture/yuyv
capture/find_yuyv
capture/convert
capture/find_raw
*.png
*.yuv
*.raw
*.jpg
*.jpeg
